/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;box-sizing: border-box}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:;}
abbr,acronym{border:0;}
body{color:#666;background-color:#fff;font:12px/1.5 "微软雅黑",tahoma,arial,'Hiagino Sans GB',宋体,sans-serif;}
.clearfix:after{content:" ";clear:both; height:0; visibility:hidden;display:block;font-size:0;}
.clearfix{zoom:1;}
.pull-left,.fl{float:left}
.pull-right,.fr{float: right}
.el-loading-mask{
    background-color: transparent!important;
}
.content .el-dialog__wrapper {
    z-index: 99
}
.content .el-dialog .el-dialog__headerbtn{
    display: none!important;
}
body .el-tooltip__popper.is-dark{
    display:none!important;
}
