#contact {
  position: fixed;
  width: 100%;
  height: 100%;
  /* background: #06a3e9; */ }
  #contact .telform {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%; }
  #contact input.error {
    border: 1px solid #f00; }
  #contact input, #contact button {
    display: block;
    width: 70%;
    height: 40px;
    margin: 10px auto;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px; }
  #contact p {
    text-align: center;
    font-size: 20px;
    height: 30px; }
