.search {
  padding: 0 5px; }
  .search .search, .search .submit {
    width: 80%;
    height: 0.8rem;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.4rem; }
  .search .search {
    padding-left: 5px;
    margin: 5px 1% 5px 0; }
  .search .submit {
    width: 19%;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px 0; }
  .search .error {
    margin-top: 200px;
    text-align: center;
    color: #f00; }
    .search .error p {
      line-height: 30px; }
  .search .sell {
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.3rem; }
    .search .sell i {
      padding: 0 10px; }
  .search .item button {
    font-size: 12px;
    padding: 3px 5px;
    margin: 0; }
  .search .downList {
    margin-top: 10px;
    font-size: 15px; }
    .search .downList .download {
      color: #3ab54a;
      font-size: 17px;
      display: block; }
  .search .lists > .name {
    font-size: 0.35rem;
    line-height: 1rem; }
  .search .lists ul {
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid #c0c0c0; }
  .search table {
    margin-bottom: 0; }
  .search .content {
    padding-bottom: 20px; }
