.search{
	padding:0 5px;
	.search,.submit{
		width: 80%;
		height: 0.8rem;
		display: block;
		border-radius: 5px;
		border:1px solid #ccc;
		font-size: 0.4rem;
	}
	.search{
		padding-left: 5px;
		margin:5px 1% 5px 0;
	}
	.submit{
		width: 19%;
		border:1px solid #ccc;
		border-radius:3px;
		margin: 5px 0 ;
	}
	.error{
		margin-top:200px;
		text-align: center;
		color: #f00;
		p{
			line-height: 30px;
		}
	}
	.sell{
		height: 0.8rem;
		line-height: 0.8rem;
		font-size: 0.3rem;
		i{
			padding:0 10px;
		}
	}
	.item{
		button{
			font-size: 12px;
			padding:3px 5px;
			margin: 0;
		}		
	}
	.downList{
		margin-top: 10px;
		font-size: 15px;
		.download{
			color:#3ab54a;
			font-size: 17px;
			display: block;
		}
	}
    .lists{
        >.name{
            font-size: 0.35rem;
            height: 1rem;
            line-height: 1rem;
        }
        ul{
            margin:0 10px;
            border-radius: 5px;
            border:1px solid #c0c0c0;
        }        
    }
    table{
        margin-bottom: 0;
    }
    .content{
        padding-bottom: 20px;
    }
}