html,
body,
#wrapper {
    height: 100%;
}

.page-shopping {
    background-color: #fff;
}

.header {
    position: relative;
    background-color: #f4f4f4;
    border-bottom: 1px solid #eee;
}

.header .left {
    position: absolute;
    top: 0;
    left: 0;
}

.header .left .home {
    padding: .8em 1.5em;
}

.header .left .home span {
    padding: .2em 0;
    display: inline-block;
    font-size: 2em;
    color: #464646;
}

.header .left .home .icon-home {
    padding: 0;
    font-size: 2.8em;
}

.icon-home:before {
    content: "\e607";
}

.header .tit {
    text-align: center;
}

.header .tit span {
    color: #464646;
    font-weight: 300;
}

.header .right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em 0 0;
}

.header .right li {
    float: left;
}

.header .right li a {
    padding: 1em .5em 1em .7em;
    position: relative;
}

.header .right .cart .icon-gouwuche {
    font-size: 2.6em;
    color: #666;
}

.icon-gouwuche:before {
    content: "\e606";
}

.page-shopping .shopping-empty {
    text-align: center;
    background: #f4f4f4;
}

.page-shopping .shopping-empty .tips_msg {
    padding: 7em 0 0;
}

.page-shopping .shopping-empty .img {
    width: 16.55em;
    margin-bottom: 3em;
}

.page-shopping .shopping-empty h3 {
    font-size: 1.7em;
    color: #50555b;
    padding: 0 0 .29412em;
}

.page-shopping .shopping-empty p {
    font-size: 1.2em;
    color: #87888c;
}

.page-shopping .shopping-empty .tips_btn {
    margin: 0 auto;
    padding: 5em 0;
    text-align: center;
    width: 17em;
}

.xm-button {
    display: block;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
    border-radius: .3em;
    background-color: #f60;
    text-align: center;
    height: 4em;
    line-height: 4em;
}

.xm-button span,
.xm-button a {
    font-size: 1.6em;
    color: #fff;
    display: block;
}

.xm-button:active,
.xm-button:hover {
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 .1em .2em .05em inset;
    -moz-box-shadow: rgba(0, 0, 0, .3) 0 .1em .2em .05em inset;
    -ms-box-shadow: rgba(0, 0, 0, .3) 0 .1em .2em .05em inset;
    -o-box-shadow: rgba(0, 0, 0, .3) 0 .1em .2em .05em inset;
    box-shadow: rgba(0, 0, 0, .3) 0 .1em .2em .05em inset;
}

.xm-button-gray {
    background-color: #fdfdfd;
    border: 1px solid #bbb;
}

.page-shopping .shopping-empty .tips_btn a {
    color: #515459;
}

.xm-button-gray span {
    color: #666;
}

/* 加入 */
.cart-index-wrap{
	padding-bottom: 56px; 
}
.cart-index-wrap .item {
    border-bottom: 1px solid #f6f6f6;
    background: #FFF;
    padding-bottom: 5px;
}

.cart-index-wrap .item:last-child {
    border-bottom: 0
}

.cart-index-wrap .item .ui-box {
    padding: .24rem 0
}

.cart-index-wrap .item .name {
    font-size: .28rem;
    line-height: .32rem;
    color: #666;
    margin-bottom: .12rem;
    margin-right: .3rem
}

.cart-index-wrap .item .name p {
    display: box;
    display: -webkit-box;
    box-align: start;
    -webkit-box-align: start
}

.cart-index-wrap .item .name p>span {
    display: block
}

.cart-index-wrap .item .name p>span:last-child {
    -webkit-box-flex: 1;
    box-flex: 1;
    width: 100%
}

.cart-index-wrap .item .name .ico {
    background: #FFA800;
    -webkit-border-radius: .04rem;
    -moz-border-radius: .04rem;
    -ms-border-radius: .04rem;
    -o-border-radius: .04rem;
    border-radius: .04rem;
    color: #FFF;
    padding: .03rem .1rem;
    font-size: .22rem;
    margin-right: .1rem
}

.cart-index-wrap .item .name .ico.ico_bargain {
    background: #FFA800
}

.cart-index-wrap .item .name .ico.ico_gift {
    background: #5B77D6
}

.cart-index-wrap .item .name .ico.ico_seckill {
    background: #E53935
}

.cart-index-wrap .item .name .ico.ico_special {
    background: #E53935
}

.cart-index-wrap .item .name .ico.ico_ernie {
    background: #81C646
}

.cart-index-wrap .item .name .ico.ico_giftcard {
    background: #81C646
}

.cart-index-wrap .item .name .ico.ico_presales {
    background: #FFA800
}

.cart-index-wrap .item .name .ico.ico_presales {
    background: #81C646
}

.cart-index-wrap .item .price {
    margin-bottom: .12rem
}

.cart-index-wrap .price tr.on{
    background: #ffd;
}

.cart-index-wrap .item .attr {
    margin-bottom: .12rem
}

.cart-index-wrap .item .attr,
.cart-index-wrap .item .price {
    font-size: .24rem;
    color: #999
}

.cart-index-wrap .item .attr span,
.cart-index-wrap .item .price span {
    margin-right: .1rem
}

.cart-index-wrap .item .delete {
    float: right;
    margin-right: .2rem
}

.cart-index-wrap .item .delete a {
    display: block;
    font-size: .45rem;
    color: #999
}

.cart-index-wrap .item .bargain {
    border-top: 1px solid #f6f6f6
}

.cart-index-wrap .item .choose {
    width: .6rem;
    padding: 0 .2rem;
    height: 1.8rem
}

.cart-index-wrap .item .choose.status-0 {
    background: url(../images/check_normal.png) 50% 50% no-repeat;
    -webkit-background-size: .4rem .4rem;
    -moz-background-size: .4rem .4rem;
    -ms-background-size: .4rem .4rem;
    -o-background-size: .4rem .4rem;
    background-size: .4rem .4rem
}

.cart-index-wrap .item .choose.status-1 {
    background: url(../images/check_press.png) 50% 50% no-repeat;
    -webkit-background-size: .4rem .4rem;
    -moz-background-size: .4rem .4rem;
    -ms-background-size: .4rem .4rem;
    -o-background-size: .4rem .4rem;
    background-size: .4rem .4rem
}

.cart-index-wrap .item .imgProduct {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 .2rem;
    margin-left: 0;
    position: relative
}

.cart-index-wrap .item .imgProduct img {
    width: 100%
}

.cart-index-wrap .item .icon-iconfontshanchu {
    font-size: .4rem
}

.cart-index-wrap .item .tip {
    line-height: .64rem
}

.cart-index-wrap .item .tip span {
    color: #FF5722
}

.cart-index-wrap .item .insurance a {
    display: box;
    display: -webkit-box;
    margin: 0 .2rem .2rem;
    box-align: center;
    -webkit-box-align: center;
    border: 1px solid #f6f6f6;
    padding: .14rem .2rem;
    -webkit-border-radius: .04rem;
    -moz-border-radius: .04rem;
    -ms-border-radius: .04rem;
    -o-border-radius: .04rem;
    border-radius: .04rem;
    background: #f6f6f6;
    font-size: .24rem
}

.cart-index-wrap .item .insurance a .i1 {
    margin-right: .12rem
}

.cart-index-wrap .item .insurance a .i1 img {
    width: .5rem;
    height: .5rem
}

.cart-index-wrap .item .insurance a .i2 {
    -webkit-box-flex: 1;
    box-flex: 1;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding-right: .2rem
}

.cart-index-wrap .item .insurance a .i2 span {
    flex: 1;
    -webkit-flex: 1;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
    height: .5rem;
    line-height: .5rem
}

.cart-index-wrap .item .insurance a .i2 em {
    color: #FF5722
}

.cart-index-wrap .item .insurance a .i3 {
    color: #FF5722
}

.cart-index-wrap .bottom-submit {
    height: 56px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #f6f6f6;
    background: #FFF
}

.cart-index-wrap .bottom-submit .price {
    font-size: .26rem;
    color: #999;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align: center;
}

.cart-index-wrap .bottom-submit .price strong {
    font-size: .4rem;
    color: #FF5722;
    margin-right: .2em
}

.cart-index-wrap .bottom-submit .btn {
    padding: 0;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.cart-index-wrap .bottom-submit .ui-button span {
    font-size: .3rem
}


.xm-input-number .input-add, .xm-input-number .input-sub{
	display: inline-block;
    width: .6rem;
    height: .6rem;
    position: relative;
    vertical-align: middle;
    background-color: #fafafa;
    transition: background-color .3s linear 0s;
}
.xm-input-number .input-sub:after, .xm-input-number .input-add:after,.xm-input-number .input-add:before{
	content: '\0020';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: .24rem;
    height: .04rem;
    margin: -.02rem 0 0 -.12rem;
    -webkit-border-radius: .02rem;
    -moz-border-radius: .02rem;
    -ms-border-radius: .02rem;
    -o-border-radius: .02rem;
    border-radius: .02rem;
    background-color: #ddd;
}
.xm-input-number .input-add:before{
    width: .04rem;
    height: .24rem;
    margin: -.12rem 0 0 -.02rem;
}
.xm-input-number .input-num{
	width: .6rem;
    overflow: hidden;
    height: .6rem;
    text-align: center;
    line-height: .6rem;
}
.xm-input-number>div{
	float: left;
}
.xm-input-number .input-num>input{
    border: none;
}

/* 重写 */
.cart-index-wrap .ui-box>div{
	float: left;
}
.cart-index-wrap .item .choose{
	width: 10%;
}
.cart-index-wrap .item .imgProduct{
	width: 20%
}
.cart-index-wrap .item .info{
    padding-left: 5%;
	width: 80%
}
.cart-index-wrap .bottom-submit>div{
	width: 33.33%;
	float: left;
	height: 56px;
}
.cart-index-wrap .bottom-submit .btn{
	height: 100%;
}
.cart-index-wrap .bottom-submit .btn a{
	display: block;
	text-align: center;
	line-height: 56px;
	font-size: .4rem;
	color: #333;
	background: #f4f4f4;
}
.cart-index-wrap .bottom-submit .btn:last-child a{
	background: #ff5722;
	color: #fff;
}