.page-category {
	background: #FFF
}

.page-category .category_child {
	display: none
}

.page-category .category_child.on {
	display: block
}

.page-category .category_search {
	padding: .5em 1.6em
}

.page-category .category_search .input-word {
	padding: 1.4em 4em 1.1em 1em
}

.page-category .category_search .input-word input {
	font-size: 1.5em;
	border: 0 none;
	color: #666;
	width: 100%
}

.page-category .category_search .input-word .btn {
	position: absolute;
	right: .5em;
	top: .3em;
	width: 3.4em;
	height: 3.4em;
	background: url(/static/views/product/category/img/pro_searchbtn_15d54d1.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

.page-category .category_search form {
	display: block;
	position: relative
}

.page-category .category_search form:after {
	content: '\0020';
	display: block;
	width: 100%;
	height: .4em;
	border: .15em solid #ccc;
	border-top: 0 none;
	position: absolute;
	bottom: 0;
	left: 0
}

.page-category .list_category {
	text-align: center;
	padding: 0 1.7em;
	min-height: 5em;
	margin-top: 1em;
}

.page-category .list_category .category {
	background: #FFF;
	overflow: hidden;
	border-bottom: .15em solid #eee;
	position: relative
}

.page-category .list_category .category a {
	display: block
}

.page-category .list_category .category a:after {
	content: '\0020';
	clear: both;
	display: block
}

.page-category .list_category .category .imgurl {
	float: left;
	width: 4em;
	height: 4em;
	margin-top: 1em;
	overflow: hidden;
	background-color: #fff
}

.page-category .list_category .category .name {
	float: left;
	font-size: 1.35em;
	margin: 1.48148em 0;
	padding-left: .74074em;
	font-weight: 700;
	color: #333;
	text-align: center;
}

.page-category .list_category .js-more:after {
	content: '\0020';
	display: block;
	width: 1em;
	height: 1em;
	border-top: .2em solid #ccc;
	border-right: .2em solid #ccc;
	position: absolute;
	top: 2.2em;
	right: .9em;
	-webkit-transition: .2s ease;
	-webkit-transition-delay: 0s;
	-moz-transition: .2s ease;
	-o-transition: .2s ease;
	transition: .2s ease;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}

.page-category .category_child li {
	margin-left: 2.2em
}

.page-category .category_child .category {
	border-bottom-style: dotted
}

.page-category .category_child .category a {
	height: 4.5em
}

.page-category .category_child .category .name {
	font-size: 1.35em;
	margin: 1.18519em 0;
	padding-left: 1.33333em;
	color: #999
}

.page-category .category_child li:last-child {
	margin-left: 0
}

.page-category .category_child li:last-child .category {
	padding-left: 2.2em;
	border-bottom-style: solid
}